In [1]:
import pandas as pd

In [2]:
file_path = "Resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
new_iris_df = iris_df.drop(['class'], axis=1)

new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
output_file_path = "Resources/new_iris_data.csv"

new_iris_df.to_csv(output_file_path, index=False)

In [8]:
# Data loading

file_path = "Resources/shopping_data.csv"

df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")

df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [9]:
# Columns

df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [10]:
# Drop null rows

df_shopping = df_shopping.dropna()

In [11]:
# Find duplicate entries

print(f"Duplicate entries:  {df_shopping.duplicated().sum()}")

Duplicate entries:  0

In [12]:
# Remove the CustomerID Column

df_shopping.drop(columns=["CustomerID"], inplace=True)

df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [15]:
# Transform String column

def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0 
    
df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)

df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [16]:
# Transform annual income

df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000

df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [17]:
# Saving cleaned data

file_path = "Resources/shopping_data_claned.csv"

df_shopping.to_csv(file_path, index=False)

In [19]:
import pandas as pd

import plotly.express as px

import hvplot.pandas

from sklearn.cluster import KMeans

In [21]:
# Loading data

file_path = "Resources/new_iris_data.csv"

df_iris = pd.read_csv(file_path)

df_iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

In [22]:
# Initializing model with K = 3 

model = KMeans(n_clusters=3, random_state=5)

model

KMeans(n_clusters=3, random_state=5)

In [23]:
# Fitting model

model.fit(df_iris)

KMeans(n_clusters=3, random_state=5)

In [24]:
# Get the predictions

predictions = model.predict(df_iris)

print(predictions)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 2 2 2 2 0 2 2 2 2
 2 2 0 0 2 2 2 2 0 2 0 2 0 2 2 0 0 2 2 2 2 2 0 2 2 2 2 0 2 2 2 0 2 2 2 0 2
 2 0]

In [25]:
# Add a new class column to the df_iris

df_iris["class"] = model.labels_

df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      1
1           4.9          3.0           1.4          0.2      1
2           4.7          3.2           1.3          0.2      1
3           4.6          3.1           1.5          0.2      1
4           5.0          3.6           1.4          0.2      1

In [26]:
import plotly.express as px

import hvplot.pandas

In [27]:
# Create a scatterplot of df_iris

df_iris.hvplot.scatter(x="sepal_length", y="sepal_width", by="class")

:NdOverlay   [class]
   :Scatter   [sepal_length]   (sepal_width)